<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="jumbotron" *ngFor="let post of postsObservable | async">
        <div class="container">
          <div class="row">
            <div class="col-8">
              <h2>{{post.title}}</h2>
              <p>{{post.content}}</p>
            </div>
            <div class="col-4">
              <span>{{post.date}}</span>
              <img src="./assets/{{post.image}}" width="200">
            </div>
            <button class="btn btn-primary">Mostrar más</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>